################################################################################
################################################################################
                  Configuration
################################################################################
################################################################################
config.ini
deployment_notes.txt


################################################################################
################################################################################
                  Storage Items & Checkpoints
################################################################################
################################################################################
.DS_Store
.ipynb_checkpoints
*.pyc


################################################################################
################################################################################
                  Virtual Environment
################################################################################
################################################################################
.env
fmdview-venv
newvenv
venv
